#include <windows.h>
#include <winres.h>

1 DIALOGEX 0, 0, 268, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Баланс зелий"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Расположение Morrowind:", IDC_STATIC, 12, 14, 100, 14
    EDITTEXT IDC_STATIC, 104, 12, 136, 14
    PUSHBUTTON "...", IDC_STATIC, 242, 12, 14, 14
    LTEXT "Название плагина:", IDC_STATIC, 12, 30, 100, 14
    EDITTEXT IDC_STATIC, 104, 28, 152, 14
    LTEXT "Уцен.", IDC_STATIC, 12, 68, 50, 14
    LTEXT "Деш.", IDC_STATIC, 12, 86, 50, 14
    LTEXT "Станд.", IDC_STATIC, 12, 104, 50, 14
    LTEXT "Кач.", IDC_STATIC, 12, 122, 50, 14
    LTEXT "Экскл.", IDC_STATIC, 12, 140, 50, 14
    GROUPBOX "", IDC_STATIC, 42, 46, 40, 110
    RTEXT "Дрейки", IDC_STATIC, 44, 54, 32, 14
    EDITTEXT IDC_STATIC, 46, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 46, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 46, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 46, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 46, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 88, 46, 76, 110
    RTEXT "Секунды", IDC_STATIC, 90, 54, 32, 14
    EDITTEXT IDC_STATIC, 92, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 92, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 92, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 92, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 92, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    RTEXT "Пункты", IDC_STATIC, 126, 54, 32, 14
    EDITTEXT IDC_STATIC, 128, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 128, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 128, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 128, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 128, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 170, 46, 40, 110
    RTEXT "Секунды", IDC_STATIC, 172, 54, 32, 14
    EDITTEXT IDC_STATIC, 174, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 174, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 174, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 174, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 174, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 216, 46, 40, 110
    RTEXT "Пункты", IDC_STATIC, 218, 54, 32, 14
    EDITTEXT IDC_STATIC, 220, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 220, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 220, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 220, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT IDC_STATIC, 220, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    PUSHBUTTON "&Стандартные", 129, 12, 164, 68, 14
    PUSHBUTTON "&Рекомендуемые", 130, 84, 164, 68, 14
    DEFPUSHBUTTON "Сгенерировать &плагин", IDOK, 164, 164, 92, 14
END
