#include <windows.h>
#include <winres.h>

1 DIALOGEX 0, 0, 516, 172
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Баланс зелий"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "Сгенерировать плагин", 127, 416, 150, 92, 14
    LTEXT "Расположение Morrowind:", IDC_STATIC, 9, 10, 100, 12
    EDITTEXT 132, 100, 8, 219, 12
    PUSHBUTTON "...", 133, 321, 8, 12, 12
    LTEXT "Название плагина:", IDC_STATIC, 9, 26, 100, 12
    EDITTEXT 134, 100, 24, 234, 12
    LTEXT "Ограничить вес до:", IDC_STATIC, 398, 10, 100, 12
    EDITTEXT 185, 467, 8, 16, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    LTEXT "× 0.01", IDC_STATIC, 485, 10, 100, 12
    LTEXT "Умножить вес на:", IDC_STATIC, 398, 26, 100, 12
    EDITTEXT 186, 467, 24, 16, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    LTEXT "/", IDC_STATIC, 485, 26, 100, 12
    EDITTEXT 187, 492, 24, 16, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    LTEXT "Уцен.", IDC_STATIC, 9, 62, 50, 12
    LTEXT "Деш.", IDC_STATIC, 9, 78, 50, 12
    LTEXT "Станд.", IDC_STATIC, 9, 94, 50, 12
    LTEXT "Кач.", IDC_STATIC, 9, 110, 50, 12
    LTEXT "Экскл.", IDC_STATIC, 9, 126, 50, 12
    GROUPBOX "", IDC_STATIC, 38, 40, 40, 102
    RTEXT "Дрейки", IDC_STATIC, 40, 48, 32, 12
    EDITTEXT 150, 42, 60, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 151, 42, 76, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 152, 42, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 153, 42, 108, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 154, 42, 124, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 84, 40, 76, 102
    RTEXT "Секунды", IDC_STATIC, 86, 48, 32, 12
    EDITTEXT 155, 88, 60, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 156, 88, 76, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 157, 88, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 158, 88, 108, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 159, 88, 124, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    RTEXT "Пункты", IDC_STATIC, 122, 48, 32, 12
    EDITTEXT 160, 124, 60, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 161, 124, 76, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 162, 124, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 163, 124, 108, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 164, 124, 124, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 166, 40, 40, 102
    RTEXT "Секунды", IDC_STATIC, 168, 48, 32, 12
    EDITTEXT 165, 170, 60, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 166, 170, 76, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 167, 170, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 168, 170, 108, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 169, 170, 124, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 212, 40, 40, 102
    RTEXT "Пункты", IDC_STATIC, 214, 48, 32, 12
    EDITTEXT 170, 216, 60, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 171, 216, 76, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 172, 216, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 173, 216, 108, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 174, 216, 124, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 258, 40, 76, 102
    RTEXT "Секунды", IDC_STATIC, 260, 48, 32, 12
    EDITTEXT 180, 262, 60, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    RTEXT "Пункты", IDC_STATIC, 296, 48, 32, 12
    EDITTEXT 175, 298, 60, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 176, 298, 76, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 177, 298, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 178, 298, 108, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 179, 298, 124, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 340, 40, 76, 102
    RTEXT "Секунды", IDC_STATIC, 342, 48, 32, 12
    EDITTEXT 181, 344, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    RTEXT "Пункты", IDC_STATIC, 378, 48, 32, 12
    EDITTEXT 182, 380, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 422, 40, 40, 102
    RTEXT "Секунды", IDC_STATIC, 424, 48, 32, 12
    EDITTEXT 183, 426, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 468, 40, 40, 102
    RTEXT "Пункты", IDC_STATIC, 470, 48, 32, 12
    EDITTEXT 184, 472, 92, 32, 12, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    PUSHBUTTON "Стандартные", 129, 8, 150, 68, 14
    PUSHBUTTON "Рекомендуемые", 130, 80, 150, 68, 14
    PUSHBUTTON "Текущие", 135, 152, 150, 68, 14
END

2 DIALOGEX 0, 0, 260, 36
STYLE DS_CENTER | WS_BORDER | WS_POPUP | WS_EX_TOOLWINDOW
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT "Генерация...", IDC_STATIC, 0, 14, 260, 12
END
