#include <windows.h>
#include <winres.h>

1 DIALOGEX 0, 0, 350, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Баланс зелий"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "Сгенерировать &плагин", 131, 246, 164, 92, 14
    LTEXT "Расположение Morrowind:", IDC_STATIC, 12, 14, 100, 14
    EDITTEXT 132, 104, 12, 218, 14
    PUSHBUTTON "...", 133, 324, 12, 14, 14
    LTEXT "Название плагина:", IDC_STATIC, 12, 30, 100, 14
    EDITTEXT 134, 104, 28, 234, 14
    LTEXT "Уцен.", IDC_STATIC, 12, 68, 50, 14
    LTEXT "Деш.", IDC_STATIC, 12, 86, 50, 14
    LTEXT "Станд.", IDC_STATIC, 12, 104, 50, 14
    LTEXT "Кач.", IDC_STATIC, 12, 122, 50, 14
    LTEXT "Экскл.", IDC_STATIC, 12, 140, 50, 14
    GROUPBOX "", IDC_STATIC, 42, 46, 40, 110
    RTEXT "Дрейки", IDC_STATIC, 44, 54, 32, 14
    EDITTEXT 150, 46, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 151, 46, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 152, 46, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 153, 46, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 154, 46, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 88, 46, 76, 110
    RTEXT "Секунды", IDC_STATIC, 90, 54, 32, 14
    EDITTEXT 155, 92, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 156, 92, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 157, 92, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 158, 92, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 159, 92, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    RTEXT "Пункты", IDC_STATIC, 126, 54, 32, 14
    EDITTEXT 160, 128, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 161, 128, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 162, 128, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 163, 128, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 164, 128, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 170, 46, 40, 110
    RTEXT "Секунды", IDC_STATIC, 172, 54, 32, 14
    EDITTEXT 165, 174, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 166, 174, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 167, 174, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 168, 174, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 169, 174, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 216, 46, 40, 110
    RTEXT "Пункты", IDC_STATIC, 218, 54, 32, 14
    EDITTEXT 170, 220, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 171, 220, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 172, 220, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 173, 220, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 174, 220, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 262, 46, 76, 110
    RTEXT "Секунды", IDC_STATIC, 264, 54, 32, 14
    EDITTEXT 180, 266, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    RTEXT "Пункты", IDC_STATIC, 300, 54, 32, 14
    EDITTEXT 175, 302, 66, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 176, 302, 84, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 177, 302, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 178, 302, 120, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    EDITTEXT 179, 302, 138, 32, 14, ES_RIGHT | ES_NUMBER | WS_BORDER | WS_TABSTOP
    PUSHBUTTON "&Стандартные", 129, 12, 164, 68, 14
    PUSHBUTTON "&Рекомендуемые", 130, 84, 164, 68, 14
END
